* {
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    font-size: 18px;

}

#myCanvas {
    border: 4px solid black;
    /*Used to center the canvas*/
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.red {
    color: red;
    font-weight: bold;
    padding-left: 10px;
}

.blue {
    color: blue;
    font-weight: bold;
    padding-left: 10px;
}

.yellow {
    color: #F4C430; /*saffron*/
    font-weight: bold;
    padding-left: 10px;
}

#scoreRed {
    color: red;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 8px;
}

#scoreBlue {
    color: blue;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}

#scoreYellow {
    color: #F4C430; /*saffron*/
    font-weight: bold;
    padding-left: 8px;
}

#restartButton {
    padding: 16px 23px;
    cursor: pointer;
    background-color: #DAF7A6;
    border-radius: 12px;
    border: 2px solid #4CAF50; 
    transition-duration: 0.4s;
    font-size: 16px;
    margin-right: 40px;

}

#restartButton:hover {
  background-color: #4CAF50; 
  color: white;
}

#homeButton {
    padding: 16px 23px;
    cursor: pointer;
    background-color: #FF9B48;
    border-radius: 12px;
    border: 2px solid #DE6500; 
    transition-duration: 0.4s;
    font-size: 16px;
    margin-left: 40px;

}

#homeButton:hover {
  background-color: #DE6500; 
  color: white;
}

